pulumi>=2.15.6,<3.0.0
pulumi-aws<4.0.0
pulumi-tls==3.0.0
boto3==1.16.60
botocore==1.19.60
yapf
docker==4.4.1
pymongo==3.11.2
cryptography~=3.3.1
setuptools~=51.0.0
certifi~=2020.12.5
requests~=2.25.0
pyOpenSSL==20.0.1
python-dateutil~=2.8.1
PyYAML~=5.4.1
neo4j~=4.2.1
typer~=0.3.2
Jinja2~=2.11.3
docker-py~=1.10.6
PyGithub~=1.55