awsRegion: {{region}}
clusterName: {{eks_cluster}}
awsVpcID: {{vpc_id}}
rbac:
  create: true
  serviceAccount:
    create: true
    name: alb-ingress-controller-sa
    annotations:
      eks.amazonaws.com/role-arn: {{alb_ingress_role_arn}}

